<div id="changelog-container">
  <div class="header">Site Changelog</div>

  <div class="changelog-item">
    <div class="date"><%= time_ago_in_words(DateTime.strptime('2018-11-26T11:33:00-05:00', '%Y-%m-%dT%H:%M:%S%z')) %> ago</div>
    <div class="content">
      <div class="title">Added Changelog</div>
      <div class="type improvement">Addition</div>
      <div class="body">Added changelogs, now you can see when the site changes</div>
    </div>
  </div>
  <!-- REPEAT ABOVE changelog-item FOR EACH ENTRY -->
      
</div>  
