body {
    background-image: url('img/mqdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(122, 122, 122, 0.7);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #ffffff;
}
        
p {
    color: #ffffff;
    line-height: 1.6;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5a5a5a;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #e0e0e0;
}
